<?xml version="1.0" encoding="UTF-8" ?>

<launch>

        <!-- MAVROS Node -->
        <include file="$(find lmd_sim)/launch/apm.launch" >
                <!-- url for Pixhawk -->
                <arg name="fcu_url" value="/dev/ttyACM0:57600" />  
        </include>

        <!-- Landmine Detection Node -->
        <node name="Landmine_Detection" pkg="lmd_sim" type="lmd_detection_jetson.py" output="screen" />

</launch>