<launch>
	<include file="$(find lmd_sim)/launch/apm.launch">
	</include>
    <include file="$(find rosserial_server)/launch/socket.launch">
	</include>
    <!-- lmd Mechanism Control Node -->
     <node name="LMD_Mechanism" pkg="lmd_sim" type="rc_esp.py" output="screen" />
     <node name="LMD_Detection" pkg="lmd_sim" type="lmd_detection.py" output="screen" />
</launch>
